@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 2 - Utbetalningar och bidragstyper";
}

<h2>Uppgift 2 - Utbetalningar och bidragstyper</h2>


<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Utbetdatum
            </th>
            <th>
                Summa
            </th>
            <th>
            Utbetalningar
            </th>
        </tr>
    </thead>
    <tbody>
        @*..detta är en kommentar..*@
        @*iterera igenom alla <BeviljadTid> noder i Model som håller vår xml*@
        @foreach (var utbet1 in Model.Elements("Datum"))
        {
            <tr>
                <td>
                    @((string)utbet1.Element("UtbetDatum"))
                </td>
                <td>
                    @((string)utbet1.Element("Totalsumma"))
                </td>
                <td>

                    <table table class="table-bordered table_100" style="table-layout:fixed">
                        <tbody>
                            @foreach (var utbet2 in utbet1.Elements("Utbetalningar").Elements("Utbetalning"))
                            {
                                <tr>
                                    <td>@((string)utbet2.Element("Beskrivning"))</td>
                                    <td>@((string)utbet2.Element("Belopp"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
